version: "3.8"

services:
  teams-bot:
    build: .
    container_name: teams-mirror-bot-app
    restart: always # นำกลับมาใส่ได้เลย
    env_file:
      - .env
    # เปลี่ยน Network config เป็น host mode
    network_mode: "host"

  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
    # เพิ่ม extra_hosts เพื่อให้ Caddy รู้จัก IP ของ Host
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  caddy_data:
